---
import BaseLayout from "../layouts/BaseLayout.astro"
const pageTitle = "ulaŞ³ - About";
const titleSize = "3em";
const identity = {
    firstName: "ulas",
    country: "Germany",
    occupation: "Softwaredev"
};

const skills = ["Python", "SQL", "Writing"]

const happy = true;
const finished = true;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---
<BaseLayout titleSize={titleSize} pageTitle={pageTitle}>
<style define:vars={{skillColor, fontWeight, textCase}}>
.skill {
color: var(--skillColor);
font-weight: var(--fontWeight);
text-transform: var(--textCase);
}
</style>
<p>Hey, I am {identity.firstName} a {identity.occupation} from {identity.country}</p>
<p>Here is what I can do:</p>
<ul>{skills.map((skill) => <li class="skill">{skill}</li>)}</ul>
{happy && <p>I am happy to be learning Astro!</p>}

{finished && <p>I finished this tutorial!</p>}

{goal === 3 ? <p>My goal is to finish in 3 days.</p> : <p>My goal is not 3 days.</p>}                                                                                                                                                                                                                                                                                                                                                                                                                          
</BaseLayout>
	